{% extends 'layout.njk' %}

{% block head %}
  <title>Sobre - {{item.name}}</title>
{% endblock %}

{% block content %}

  <section class="wrapper container">
    <div class="logo">
      <img src={{item.avatar_url}} 
          alt="Foto do {{item.name}}">
    </div>
    <div class="description">
      <h1 class="title">{{item.name}}</h1>
      <h2 class="subtitle">
        {{item.role}}
      <a class="ufabc" href={{item.place_url}} target="_blank">{{item.place}}</a>
    </h2>

      <p>{{item.content}}</p>
        
    </div><!-- description end -->  

    <ul class="social-links">
      {% for link in item.links %}
        <li><a href={{link.url}} target="_blank">{{link.name}}</a></li>
      {% endfor %}
    </ul>
    
  </section>
{% endblock %}
