<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>portfolio - Matheus</title>

  <link rel="shortcut icon" href="/fox.svg" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
      <div class="container">
        <nav class="menu">
          <ul>
            <li><a href="/">Sobre</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/">Contato</a></li>
          </ul>
        </nav>
      </div> <!-- container end -->
    </header>
    <section class="wrapper container">
      <div class="description">
        <h1 class="title">Portfolio</h1>
      </div> 

      <div class="cards">

        <div class="card" id="GykTLqODQuU">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

        <div class="card" id="GykTLqODQuU">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

        <div class="card" id="EhnXaybirdA">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/EhnXaybirdA/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

        <div class="card" id="GykTLqODQuU">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

        <div class="card" id="GykTLqODQuU">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

        <div class="card" id="GykTLqODQuU">
          <div class="card-image">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" 
                 alt="Thumbnail do vídeo">
          </div><!-- card-image end -->
          <div class="card-content">
            <h2 class="subtitle">Formulário Animado com JS puro e CSS Animation</h2>
          </div><!-- card-content end -->
          <div class="card-info">
            <span>57 min</span>
            <span class="card-price">Free</span>
          </div><!-- card-info end -->
        </div><!-- card end -->

      </div><!-- cards end -->

    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- modal end -->
     </div><!-- modal-overlay end -->

    <footer class="footer">
      <span>Com 💚 matheusprogrj </span>
    </footer>
    

     <script src="/script.js"></script>
</body>
</html>